/Longitudinal Households-PARALLEL_3.ipynb
backups/

experiments_results/lesgo/
experiments_results/experiment 2/
experiments_results/experiment 3/
experiments_results/experiment 4/
experiments_results/experiment 5/
experiments_results/experiment 6/
experiments_results/experiment 7/
experiments_results/experiment 8/
experiments_results/experiment 9/

experiments_results/no_couples_split/
data/deprecated/